<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{STRICT} Thread[%thread] [%-5level] %class:%line - %message%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>